.printable-area {
    display: none;
}

@media print {
    body * {
        visibility: hidden;
    }

    .printable-area,
    .printable-area * {
        visibility: visible;
        display: block;
    }

    .printable-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: white;
        z-index: 9999;
    }
}